@import '../../../variables.scss';

.followSection{
  border: 1px solid rgba($blue, 0.3);
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.tabList{
  display: flex;
  justify-content: space-evenly;
}

.activeTab, .notActiveTab{
  background-color: $white;
  cursor: pointer;
  padding: 5px 20px;
}

.activeTab{
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: $blue;
  font-weight: 400;
  border-bottom: 2px solid $blue;
}

.notActiveTab{
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: $lightBlack;
  font-weight: 400;
}

.targetWrapper{
  width: 350px;
  margin-top: 30px;
}
