@import "../../variables.scss";

.fullBlueButton,
.emptyBlueButton,
.fullRedButton,
.emptyRedButton {
    width: 70px;
    height: 30px;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.fullBlueButton {
    color: $white;
    background-color: $blue;
    border: 1px solid $blue;
}

.emptyBlueButton {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
}

.fullRedButton {
    color: $white;
    background-color: $red;
    border: 1px solid $red;
}

.emptyRedButton {
    color: $red;
    background-color: $white;
    border: 1px solid $red;
}

.smallButton {
    width: 50px;
    height: 22px;
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
}
