@import "../../../variables.scss";

.profileIcon {
  width: 28px;
  height: 28px;
  background-color: $lightBlack;
  border-radius: 50%;
  color: $white;
}

.iconButton {
  background: none;
  cursor: pointer;
}

.hiddenInput {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.imageButton {
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.changeImageText {
  color: #44717a;
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  margin-top: 5px;
}

.imageWrapper {
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.smallImageWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.configurationTargetShow,
.configurationTargetHide {
  border: 1px solid rgba($blue, 0.3);
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.55);
  margin-top: 40px;
}

.configurationTargetHide {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.configureProfileContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 8px;
}

.buttonWrapper {
  align-self: flex-end;
  margin-top: 10px;
}

.textArea {
  font-weight: 400;
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.5 * calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300))));
  resize: none;
  overflow: hidden;
  padding: 5px;
  width: 100%;
  border: 1px solid rgba($blue, 0.3);
  border-radius: 5px;
  color: $black;
}

.formWrapper {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .configurationTargetShow,
  .configurationTargetHide {
    margin-left: -300px;
  }
}
