@import "../../../variables.scss";

.textArea {
  font-weight: 400;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.5 * calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))));
  resize: none;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  color: $black;
}

.postSection {
  border: 1px solid rgba($blue, 0.3);
  padding: 20px;
  width: 610px;
  border-radius: 5px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonWrapper {
  align-self: flex-end;
}

@media only screen and (max-width: 767px) {
  .postSection {
    padding: 15px;
    width: 90%;
  }
  .textArea {
    width: 100%;
  }
}
