@import "../../../variables.scss";

.textArea {
  font-weight: 400;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  width: 450px;
  height: 100%;
  resize: none;
}

.postSection {
  border: 1px solid rgba($blue, 0.3);
  padding: 30px;
  width: 610px;
  height: 110px;
  border-radius: 5px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonWrapper {
  align-self: flex-end;
}

@media only screen and (max-width: 767px) {
  .postSection {
    padding: 15px;
    width: 90%;
    height: 55px;
  }
  .textArea {
    width: 100%;
  }
}
