@import "../../variables.scss";

.resultsWrapperShow {
  border: 1px solid rgba($blue, 0.3);
  padding-bottom: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.55);
  margin-top: 40px;
}

.resultsWrapperHide {
  height: 0px;
}

.tabList {
  display: flex;
  justify-content: space-evenly;
}

.activeTab,
.notActiveTab {
  background-color: $white;
  cursor: pointer;
  padding: 10px 20px;
}

.activeTab {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: $blue;
  font-weight: 400;
  border-bottom: 2px solid $blue;
}

.notActiveTab {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: $lightBlack;
  font-weight: 400;
}

.cardWrapper {
  width: 350px;
  margin-top: 20px;
}

.searchBarWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .cardWrapper {
    width: 100%;
  }
  .resultsWrapperShow{
    width: 100vw;
    padding-right: 10%;
    padding-left: 10%;

  }
}
