@import "../../variables.scss";

.navBar {
  padding: 20px 100px 20px 100px;
  display: flex;
  justify-content: center;
  background-color: $white;
  align-items: center;
  z-index: 10000;
  border-bottom: 1px solid $blue;
}

.navBarSticky {
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 767px){
  .navBar {
    padding: 10px 0px 10px 0px;
  }
}