$white: #ffffff;
$smokeWhite: #fafafa;
$darkWhite: #999999;
$lightBlack: #666666;
$black: #333333;
$red: #C14747;
$blue: #44717A;


// export to use in js files
:export {
  white: $white;
  smokeWhite: $smokeWhite;
  darkWhite: $darkWhite;
  lightBlack: $lightBlack;
  black: $black;
  red: $red;
  blue: $blue;
}