@import "../../variables.scss";

.homeContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: flex-start;
}

.opacity {
  filter: opacity(0.5);
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  justify-content: center;
  align-items: center;
}

.postSectionWrapper {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.followSectionWrapper {
  max-height: 500px;
}

@media only screen and (max-width: 767px) {
  .homeContainer {
    flex-direction: column;
    margin-top: 20px;
    align-items: normal;
  }
  .verticalContainer {
    margin-left: 0px;
  }
}
