@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.signinContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-weight: 600;
  color: $black;
  font-size: 32px;
}

.inputWrapper{
  margin-bottom: 20px;
}

.titleWrapper{
  margin-bottom: 25px;
}

.error {
  font-size: 12px;
  color: $red;
  margin-bottom: 20px;
}