@import "./variables.scss";

html,
body,
#root,
.Home {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh; /*So that the spacer can work*/
  background-color: $smokeWhite;
}

section {
  background-color: $white;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

li {
  list-style-type: none;
}

body {
  color: $black;
  text-align: center;
}

.spacer {
  flex: 1;
}
