@import '../../variables.scss';

.container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nameDescriptionWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 10px;
}

.buttonImageWrapper{
  background: none;
  cursor: pointer;
}

.imageWrapper {
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.name{
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  text-align: left;
}

.description{
  margin-top: 3px;
  font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 400;
  text-align: left;
}

.buttonWrapper{
  margin-left: auto;
}